/*-- scss:defaults --*/
$link-color: #F6BE00 !default;


/*-- scss:rules --*/
.quarto-title.column-body {
  display: flex;
}

.quarto-title.column-body h1.title {
  padding-left: 20px;
}

.quarto-title.column-body p.subtitle {
  padding-left: 20px;
}

.description {
  padding-top: 5px;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full > div > div.quarto-title.column-body > div > h1 {
  color: #F6BE00;
}